:root {
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--Grayish-Blue);
  /* height: 100vh; */
  background-color: var(--Very-Light-Gray);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  
}

.top-container {
  padding: 4rem 8rem;
  text-align: center;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1-light {
  font-weight: 200;
  color: var(--Grayish-Blue);
}

.h1-subtitle {
  color: var(--Very-Dark-Blue);
}

.h1-bold {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--Very-Dark-Blue);
}

.subtitle {
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
  max-width: 30vw;
  text-align: center;
}

.bottom-container {
  display: grid;
  grid-template-columns: 1fr 25% 1fr;
  /* grid-column-gap: 15px; */
  justify-items: center;
  height: 60vh;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* overflow: hidden; */
  /* height: 100%; */
}

.col-1 {
  /* align-self: ; */
  justify-self: right;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.col-3 {
  justify-self: left;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: max-content;
  width: 20rem;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 2px 5px 9px var(--Grayish-Blue);
  /* border-color: 4px solid var(--Red); */
  /* max-width: 100vw; */
}

.col-1-item-1 {
  border-top: 4px solid var(--Cyan);
}

.col-2-item-1 {
  border-top: 4px solid var(--Red);
}

.col-2-item-2 {
  border-top: 4px solid var(--Orange);
}

.col-3-item-1 {
  border-top: 4px solid var(--Blue);
}

.card-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 2rem;
}

img {
  height: 3rem;
}

.p-card {
  font-size: 0.8rem;
  font-weight: 400;
  padding-top: 1rem;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .main {
    font-size: 10px;
    width: 100vw;
  }

  body{
    height: unset;
  }

  .top-container {
    width: 100vw;
    margin-top: 2rem;
    padding: 10px 10px 0px 10px;
    height: 15vh;
  }

  .subtitle {
    max-width: 20rem;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 40vh;
  }

  .bottom-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150vh; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: unset;
    justify-items: center;
    align-items: center;
  }

  .col-1{
    justify-self: center;
  }

  .col-2{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
  }

  .col-3{
    justify-self: center;
  }

  .footer {
    position: unset;
    bottom: unset;
    height: unset;
    /* margin-top: 40rem; */
  }
}
